$blue: #2888fe
$margin: .75em
$grey60: #999
$grey80: #ccc

a:link
  color: $blue

a:visited
  color: $grey60

a:active, a:hover
  color: magenta

ul
  list-style: square

::selection, ::-moz-selection
  background: $blue
  color: white

#page
  margin: 0 auto

#content
  margin: $margin

#footer
  margin: $margin

#banner,
#banner a:link,
#banner a:visited
  background: $blue
  //text-shadow: 0 0 #ff0, 0 .055em #ff0, 0 0 #f0f, 0 -.055em #f0f
  text-shadow: 0 0 white, 0 .055em white, 0 0 white, 0 -.055em white
  font-size: 2.5em
  text-align: center
  color: white
  text-decoration: none

#copyright
  font-size: .8em
  color: $grey80