a:link {
  color: #2888fe; }

a:visited {
  color: #999999; }

a:active, a:hover {
  color: magenta; }

ul {
  list-style: square; }

::selection, ::-moz-selection {
  background: #2888fe;
  color: white; }

#page {
  margin: 0 auto; }

#content {
  margin: 0.75em; }

#footer {
  margin: 0.75em; }

#banner,
#banner a:link,
#banner a:visited {
  background: #2888fe;
  text-shadow: 0 0 white, 0 0.055em white, 0 0 white, 0 -0.055em white;
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-decoration: none; }

#copyright {
  font-size: 0.8em;
  color: #cccccc; }
