p {
  font-size: 1em; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 1.25em; } }
  @media screen and (min-width: 800px) {
    p {
      font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 1.75em; } }
  @media screen and (min-width: 1280px) {
    p {
      font-size: 2em; } }
  @media screen and (min-width: 1400px) {
    p {
      font-size: 2.25em; } }

a:hover {
  color: magenta; }

.tbl, .toc {
  display: table; }

.tbl-row, .toc-row {
  display: table-row; }

.tbl-col, .toc-col, .toc-col-cat {
  display: table-cell; }

.toc {
  font-size: 1.5em; }

.toc-col, .toc-col-cat {
  padding: 0 0.5em 0 0.5em; }

.toc-col-cat {
  text-align: right;
  color: silver; }

#page {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 600px) {
    #page {
      width: 600px; } }
  @media screen and (min-width: 1024px) {
    #page {
      width: 800px; } }

#content {
  margin: 0.75em; }

#banner {
  transform: skewX(-18deg);
  text-align: center;
  margin-top: 0.1em;
  font-size: 4em; }
  @media screen and (min-width: 600px) {
    #banner {
      font-size: 5em; } }
  @media screen and (min-width: 800px) {
    #banner {
      font-size: 6em; } }
  @media screen and (min-width: 1024px) {
    #banner {
      font-size: 7em; } }
  @media screen and (min-width: 1280px) {
    #banner {
      font-size: 8em; } }
  @media screen and (min-width: 1400px) {
    #banner {
      font-size: 8.5em; } }

#banner-text {
  display: inline-block;
  transform: skewX(22deg); }

#banner a {
  background: magenta;
  text-shadow: 0 0 white, 0 0.075em yellow, 0 0 white, 0 -0.075em cyan;
  color: white;
  text-decoration: none;
  font-style: italic; }

#footer {
  margin: 0.75em; }

#copyright {
  font-size: 0.7em;
  color: gainsboro; }
